body
{
	background: silver;
	font-family: sans-serif;
} /* body */

h1
{
	font-family: Verdana, sans-serif;
	color: green;
	text-align: left
} /* h1 */

p
{
	text-align: left;
	font-size: 14pt;
	line-height: 18pt;
	font-family: serif, sans-serif, verdana;
} /* p */

dt
{
	color: navy;
	text-align: left;
	font-size: 16pt;
	line-height: 18pt;
	font-family: verdana, serif, sans-serif;
} /* dt */

dd
{
	text-align: left;
	font-size: 14pt;
	line-height: 16pt;
	font-family: serif, sans-serif, verdana;
} /* dd */