body
{
	background: #50d07d;
	color: black;
	margin: 1% 3% 1% 1%;
	font-family: sans-serif;
} /* body */

p
{
	text-align: left;
	font-size: 12pt;
	line-height: 16pt;
	font-family: sans-serif, serif, verdana;
} /* p.first */
h1
{
	font-family: Verdana, sans-serif;
	color: black;
	text-align: left
} /* h1 */

h2
{
	font-family: Verdana, sans-serif;
	color: black;
	text-align: left
} /* h2 */

img.picture
{
	margin: auto;
	height: 300px;
	width: 300px;
} /* img.picture */